.navbar{
    margin: 1rem auto;  
    padding: 15px;
    color: white;
}


li{
    font-size: larger;
    text-decoration: none;
}

  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    color: #c5e220;
  }
  